<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioGardenAws</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&family=Roboto:wght@400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header-flex wrapper">
    <%= link_to hello_index_path do%>
      <h1 class="after_login mt-3">PORTFOLIO GARDEN</h1>
    <% end %>
    <span class="main-nav">
      <% if user_signed_in? %>
      <span><%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>
      <span><%= link_to "Works", posts_path %></span>
      <span><%= link_to "Post", posts_new_path %></span>
      <li class="header-icon-h">
      <%= link_to user_path(current_user.id) do %>
        <% if current_user.image?  %>
            <%= image_tag current_user.image_url, size: '50x50', fallback: "no_image.png", class: "header-icon" if current_user.image? %>
        <% else %>
          <%= image_tag "default.png", size: '50x50', class: "header-icon" %>
        <% end %>
      <% end %>
      </li>
    </span>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path %></li>
      <li><%= link_to "Works", posts_path %></li>
      <li><%= link_to "Post", new_user_session_path  %></li>
    <% end %>
  </header>
  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
